@model TestApplication.Domain.StudentModels.StudentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.StudentName" class="control-label"></label>
                <input asp-for="Student.StudentName" class="form-control" />
                <span asp-validation-for="Student.StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Address" class="control-label"></label>
                <input asp-for="Student.Address" class="form-control" />
                <span asp-validation-for="Student.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Grade" class="control-label"></label>
                <select asp-for="Student.Grade" asp-items="@Model.GradeList" class="form-control">
                    <option value="">Select Grade</option>
                </select>
                <span asp-validation-for="Student.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
