@model IEnumerable<TestApplication.Domain.StudentModels.FailedStudentModel>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
            <th>
                Percentage
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(item=>item.Percentage))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-action="SearchMarksheet" asp-route-stid="@item.StudentId">View Report Card</a>
                </td>
            </tr>
        }
    </tbody>
</table>
